#set($layout = "/layout/loginLayout.vm")
<!-- main begin -->
<div class="w860 userLogin">
	<div class="p5"></div>
	<div class="f14 fb" style="margin-left:240px">修改密码</div>
    <div class="p10"></div>
       #if($msg)
        <p style="color:red;margin-left:240px">$msg</p>
        <div class="p10"></div>
        #end
    <div style="margin-left:240px">
<form name="pwdFrm" action="/user/modify/pwd.html" method="POST">
    	<div class="li"><span class="f14">输入旧密码：</span><input type="password" class="ipt" name="oldPassword" maxlength="30" ></div>
        <div class="li"><span class="f14">输入新密码：</span><input type="password" class="ipt" name="newPassword" maxlength="30"></div>
        <div class="li"><span class="f14">确认新密码：</span><input type="password" class="ipt" name="newPassword2" maxlength="30"></div>
    	<div class="li"><input type="submit" value="修 改" class="sub" style="margin-left:86px"></div>
    </form>
    </div>
    <div></div>
    <div class="p20"></div>
</div>
<!-- main end --> 
#**
<form name="pwdFrm" action="/user/modify/pwd.html" method="POST">
<div>Old Password: <input type="password" name="oldPassword" maxlength="100" /></div>
<div>New Password: <input type="password" name="newPassword" maxlength="100" /></div>
<div><input type="submit" name="submit" value="Submit" /></div>
</form>
**#