#set($layout = "/layout/loginLayout.vm")
<div class="w860 userLogin">
	<div class="li"><span class="t">您的 Facebook 帐号没有关联用户, 您可以：</span><input type="button" value="创建新用户" class="sub" onclick="window.open('/user/fb/create.html', '_self')" /> &nbsp; 或 &nbsp; <input type="button" value="绑定已有用户" class="sub" onclick="window.open('/user/fb/bind.html', '_self')"/></div>
</div>
#**
$content
<br/>
$token
<br/>
$uid
<br/>
$name
<br />
$desc
<br/>
There are no users bond with this facebook id. Please <a href="/user/fb/create.html">Create A New User</a> or <a href="/user/fb/bind.html">Bind An User</a>.
**#