#set($layout = "/layout/loginLayout.vm")
<!-- main begin -->
<div class="w860 userLogin">
	<!-- 登陆 begin -->
	<div class="leftbox">
    	<div class="fb f14">登录</div>
        <div class="p10"></div>
	<form name="loginFrm" method="POST" action="/user/login.html">
        <div class="li"><span class="t">用户名：</span><input type="text" class="ipt" name="userName" id="userName" value="$!{userName}" ></div>
        <div class="li"><span class="t">密码：</span><input type="password" class="ipt" name="password" id="password"></div>
        <div class="li"><span class="t">&nbsp;</span><!--<div class="fl"><input type="checkbox" checked="checked" class="fl">&nbsp;下次自动登陆</div>--><div class="fr"><a href="/user/showResetPwd.html"><span class="yellow">忘记密码</span></a></div></div>

#if($needCaptcha=='true')
<div style="padding-left:46px;">
<div id="captcha"></div>
</div>
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script language="JavaScript">
  Recaptcha.create("6Lft9doSAAAAAJFRLFWswelB8Aq2moSedtROpqn9",
    "captcha",
    {
      theme: "red",
      callback: Recaptcha.focus_response_field
    }
  );
</script>
#end

        <div class="clear p10"></div>
        <div class="li"><span class="t">&nbsp;</span><input type="submit" value="登 录" class="sub"></div>
        <div class="clear p5"></div>
        <div class="li"><span class="t">&nbsp;</span>还可以用其他合作网站号登陆噢：</div>
        <div class="li">
        	<span class="t">&nbsp;</span><a href="https://api.weibo.com/oauth2/authorize?client_id=198216231&response_type=code&redirect_uri=http://weindex.ca/user/weibo/login/success.html"><img src="/css/images/weiboico.gif"></a> 
        	<a href="https://www.facebook.com/dialog/oauth?client_id=144269832392534&state=${uuid}&redirect_uri=http://weindex.ca/user/fb/login/success.html"><img src="/css/images/facebookico.gif"></a>
        </div>
        </form>
    </div>
    <!-- 登陆 end --> 
    
    <!-- 注册 begin -->
    <div class="rightbox">
    	<div class="fb f14">注册</div>
        <div class="gray">没有账号？注册吧！用户名和密码支持字母和数字，长度6-16字符</div>
        <div class="p10"></div>
       #if($msg)
        <p style="color:red;">$msg</p>
        <div class="p10"></div>
        #end
	<form name="signups" action="/user/signup.html" method="POST">
        <div class="li"><span class="t">用户名：</span><input type="text" class="ipt" name="userName" id="userName" maxlength="16" value="$!{user.userName}"></div>
        <div class="li"><span class="t">密码：</span><input type="password" class="ipt" name="password" id="password" maxlength="30"></div>
        <div class="li"><span class="t">确认密码：</span><input type="password" class="ipt" name="password2" id="password2" maxlength="30"></div>
        <div class="li"><span class="t">Email：</span><input type="text" class="ipt" name="email" id="email" maxlength="50" value="$!{user.email}"></div>
        <div class="li"><span class="t">&nbsp;</span><div class="fl gray"><input type="checkbox" class="fl" name="termCheck" id="checkbox" value="true" checked="true">&nbsp;我已经认真阅读并同意经商<span class="yellow">《使用协议》</span></div></div>
        <div class="clear p10"></div>
        <div class="li"><span class="t">&nbsp;</span><input type="submit" value="注 册" class="sub"></div>
        </form>
    </div>
    <!-- 注册 end --> 
</div>

<!-- main end --> 

#**
<form name="loginFrm" method="POST" action="/user/login.html">
<div>User Name: <input type="text" name="userName" maxlength="20" /></div>
<div>Password: <input type="password" name="password" maxlength="100" /></div>
#if($needCaptcha=='true')
<div id="captcha"></div>
#end
<div><input type="submit" name="Submit" value="Submit" /></div>
<div><a href="/user/signup.html">Create User</a>. You Can Use <a href="/user/login/fb.html">Facebook</a> or <a href="/user/login/weibo.html">Weibo</a> to Login.</div>
<div>忘记密码? 点此<a href="/user/showResetPwd.html">找回密码</a></div>
</form>
#if($needCaptcha=='true')
<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script language="JavaScript">
  Recaptcha.create("6Lft9doSAAAAAJFRLFWswelB8Aq2moSedtROpqn9",
    "captcha",
    {
      theme: "red",
      callback: Recaptcha.focus_response_field
    }
  );
</script>
#end
**#
