<form name="dnameFrm" action="/shop/dname/edit.html" method="POST">
<input type="hidden" name="shopName" value="${shop.name}" />
<div>Old Display Name: $!{shop.displayName}</div>
<div>New Display Name: <input type="text" name="displayName" value="$!{shop.displayName}" maxlength="50"/></div>
<div><input type="submit" name="Submit" value="Submit" /></div>
</form>