#set($layout = "/layout/searchLayout.vm")
<!--menu begin -->
<div class="searchMenu">
##	<div class="li">类型：<a href="${searchUri}">全部</a>
##	    #foreach($l in $labels)
##	    	<a href="${searchUri}&label=${l.id}">${l.cnName}</a>
##		#end
##	</div>
    ##<div class="li">排序：<a href="#">最匹配的</a> <a href="#">最新上传</a> <a href="#">推荐最多</a> <a href="#">人气最高</a> <a href="#">评论最多</a> <a href="#">收藏最多</a></div>
    ##<div class="li">时间：<a href="#">不限</a> <a href="#">三天内</a> <a href="#">一周内</a> <a href="#">一个月内</a> <a href="#">一年内</a></div>
    <form name="searchFrm" action="/search.html" method="GET" id="searchfrms">
    	<input type="hidden" name="type" id="stypeFld" value="1"/>
	    <div class="li"><font color=red>关键词搜索：</font><input type="text" name="keyword" id="skeyword" class="ipt" value="$!keyword" /> <input type="submit" id="confirmBtn" value="确定" class="sub" /></div>
    </form>
</div>
<!--menu end -->
<div id="searchBlog">
	<div>共 <span class="red">${result.totalPage}</span> 页，当前显示第 <span class="red">${result.pageNum}</span> 页</div>      

        <div id="Con" class="latestOffer">
            <table id="offerList">
                <tr><td>商品图片</td><td>名字</td><td>价格</td><td>店铺</td><td>电话</td><td>城市</td></tr>
                #foreach($offer in $result.list)
                        <tr>    <td><a href="/offer/view/${offer.id}.html">#if($offer.imgUrl)<img src="$offer.imgUrl"/>#else<img src="/img/pic_shop_01.jpg"/>#end</a></td>
                                <td><a href="/offer/view/${offer.id}.html" class="fl">${offer.name}</a></td>
                                <td><font color=RED>$$${offer.price}</font></td>
				<td><a href="http://weindex.ca/$offer.shopName">${offer.shopDispName}</a></td>
                                <td>#if(${offer.telephone})$offer.telephone#end</td>
				<td>#if(${offer.city})$offer.city#end</td>
                        </tr>
                #end
            </table>
        </div>


##	<div id="Content" role="Content">
##		<ul id="tiles">
##		#foreach($offer in $result.list) 
##			<li>
##                                <a href="/offer/view/${offer.id}.html" target="_blank">${offer.name}</a> <em>$</em>${offer.price}
##				##<p><a href="/offer/view/${offer.id}.html" target="_blank"><img #if($offer.imgUrl)src="$offer.imgUrl"#else src="/img/pic1.jpg"#end width="192" /></a></p>
##				##<p class="ConName text_link2" style="text-align:center"><a href="/offer/view/${offer.id}.html" target="_blank">${offer.name}</a></p>
##				##<p class="ConOper" style="text-align:center"><span class="ConOperLeft" style="float:none"><em>$</em>${offer.price}</span>#**<span class="ConMore"><a href="/offer/view/${offer.id}.html" target="_blank">MORE>></a></span>**#</p>
##			</li>
##		#end
##	 	</ul>
##	</div>
	<div class="p5 clear"></div>
<!-- page begin -->
#if($result.totalPage>1)
<div id="page">
    <ul>
		#if($result.pageNum > 1)
        	<li><a href="${searchUri}&pageNum=${result.previousPage}">上一页</a></li>
        #end
        #if($result.totalPage<=5)
        	#foreach($i in [1..$result.totalPage])
        		#if($i==$result.pageNum)
        			<li class="pageActive"><a href="${searchUri}&pageNum=$i">$i</a></li>
        		#else
        			<li><a href="${searchUri}&pageNum=$i">$i</a></li>
        		#end
        	#end
        #else
        	#if($result.pageNum<=3)
        		#set($max=$result.pageNum+1)
        		#foreach($i in [1..$max])
	        		#if($i==$result.pageNum)
    	    			<li class="pageActive"><a href="${searchUri}&pageNum=$i">$i</a></li>
        			#else
        				<li><a href="${searchUri}&pageNum=$i">$i</a></li>
        			#end
        		#end
        		<li>...</li>
        		<li><a href="${searchUri}&pageNum=$result.totalPage">$result.totalPage</a></li>
        	#elseif($result.pageNum>=$result.totalPage - 2)
        		<li><a href="${searchUri}&pageNum=1">1</a></li>
        		<li>...</li>
        		#set($min=$result.pageNum - 1)
        		#foreach($i in [$min..$result.totalPage])
	        		#if($i==$result.pageNum)
    	    			<li class="pageActive"><a href="${searchUri}&pageNum=$i">$i</a></li>
        			#else
        				<li><a href="${searchUri}&pageNum=$i">$i</a></li>
        			#end
        		#end
        	#else
        		<li><a href="${searchUri}&pageNum=1">1</a></li>
        		<li>...</li>
        		#set($min=$result.pageNum - 1)
        		#set($max=$result.pageNum+1)
        		<li><a href="${searchUri}&pageNum=$min">$min</a></li>        	
        		<li class="pageActive"><a href="${searchUri}&pageNum=$result.pageNum">$result.pageNum</a></li>        	
        		<li><a href="${searchUri}&pageNum=$max">$max</a></li>        	
        		<li>...</li>
        		<li><a href="${searchUri}&pageNum=$result.totalPage">$result.totalPage</a></li>        	
        	#end
        #end
		#if($result.pageNum < $result.totalPage)
			<li><a href="${searchUri}&pageNum=${result.nextPage}">下一页</a></li>	
        #end
    </ul>
</div>
#end
<!-- page end -->
</div>
#**
	<div class="offer">
		<div class="title">搜索结果</div>
		<div id="newOffer">
		#foreach($offer in $result.list) 
			<div class="item">
				<div style="padding-left:10px;height:160px;"><img src="$offer.imgUrl" width="160px" /></div>
				<div class="name"><a href="/offer/view/${offer.id}.html">${offer.name}</a></div>
				<div class="price">${offer.price}</div>
			</div>
		#end
			<div class="more">
			#if($result.pageNum > 1)
				<a href="/index/offer.html?pageNum=1&keyword=${keyword}&type=${type}">第一页</a> <a href="/index/offer.html?pageNum=${result.previousPage}&keyword=${keyword}&type=${type}">上一页</a>
			#end
			共 $result.totalPage 页, 当前显示第 $result.pageNum 页
			#if($result.pageNum < $result.totalPage)
				<a href="/index/offer.html?pageNum=${result.nextPage}&keyword=${keyword}&type=${type}">下一页</a> <a href="/index/offer.html?pageNum=${result.totalPage}&keyword=${keyword}&type=${type}">最后一页</a>
			#end			
			</div>
		</div>
	</div>
**#
