<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url">
			<value><![CDATA[jdbc:mysql://127.0.0.1:3306/test?useUnicode=TRUE&characterEncoding=utf8]]></value>
		</property>
		<property name="username" value="root" />
		<property name="password" value="password" />
		<property name="validationQuery" value="SELECT 1" />
		<property name="testWhileIdle" value="true" />
		<property name="timeBetweenEvictionRunsMillis" value="10000" />
	</bean>

	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"/>

	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="WEB-INF/sqlmap-config.xml" />
		<property name="dataSource" ref="dataSource" />
		<property name="lobHandler" ref="lobHandler" />
	</bean>

	<bean id="userDao" class="ca.weindex.dao.imp.UserDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="shopDao" class="ca.weindex.dao.imp.ShopDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="offerDao" class="ca.weindex.dao.imp.OfferDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="offerImageDao" class="ca.weindex.dao.imp.OfferImageDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="blogDao" class="ca.weindex.dao.imp.BlogDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="blogImageDao" class="ca.weindex.dao.imp.BlogImageDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="blogCommentDao" class="ca.weindex.dao.imp.BlogCommentDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="shopCommentDao" class="ca.weindex.dao.imp.ShopCommentDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="offerCommentDao" class="ca.weindex.dao.imp.OfferCommentDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="homePageDao" class="ca.weindex.dao.imp.HomePageDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="messageDao" class="ca.weindex.dao.imp.MessageDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="labelDao" class="ca.weindex.dao.imp.LabelDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="favoriteDao" class="ca.weindex.dao.imp.FavoriteDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="weiboTaskDao" class="ca.weindex.dao.imp.WeiboTaskDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="shopLabelDao" class="ca.weindex.dao.imp.ShopLabelDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="redditDao" class="ca.weindex.dao.imp.RedditDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="redditCommentDao" class="ca.weindex.dao.imp.RedditCommentDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>


	<bean id="weiboUserDao" class="ca.weindex.dao.imp.WeiboUserDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="weiboUserFollowedDao" class="ca.weindex.dao.imp.WeiboUserFollowedDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="weiboActionDao" class="ca.weindex.dao.imp.WeiboActionDaoImp">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>


</beans>
