@charset "utf-8";
/* CSS Document */

body,ul,li,dl,dd,dt,h1,p,span,img,input,table,tr,td{ padding:0; margin:0; border:0; list-style:none; }
/*body,dl,dd,dt,h1,p,span,img,input,table,tr,td{ padding:0; margin:0; border:0; list-style:none; }*/
body,input{ font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#000; text-align:left; }
body{ line-height:18px; background:url(/css/images/bg.jpg); }
a{ text-decoration:none; color:#000; }
a:hover{ color:#0096c9; }
.clear{ clear:both; margin:0; padding:0; border:0px; }
.fc_fff,.text_link1 a:hover{ color:#fff; }
.text_link1 a{ color:#aaa; }
.text_link2 a{ color:#0096c9; }

/*header*/
#header{ width:100%; z-index:10; position:fixed; top:0px; height:42px; line-height:42px; background:url(images/bg_headertop.gif) repeat-x; }
#header #headerTop{ clear:both; margin:0 auto; width:960px; }
#header #logo{ float:left; width:140px; height:40px; overflow:hidden; }
#header #headerMenu{ float:right; width:auto; height:40px; line-height:40px; overflow:hidden; color:#aaa; }
#header #headerMenu span.pr_20{ padding-right:20px; }
#header #headerMenu span.pr_30{ padding-right:30px; }
#header #headerMenu span.pr_50{ padding-right:50px; }
#header #headerMenu span.plr_10{ padding:0px 10px; }
#header #headerMenu a{
    color: #0667ac;
    text-decoration: none;
}


#header #headerMenu a:hover {
	color:#000000;	
};

/*search*/
#search{ float:right; height:36px; padding:17px 52px 0px 0px; overflow:hidden; }
#search .searchBtn{ float:right; width:220px; height:36px; cursor:pointer; }
#search .searchClass{ float:right; width:139px; height:36px; margin-right:12px; }
#search .searchClassBox .searchClassInp{ float:left; width:105px; height:34px; line-height:34px; text-align:center; font-size:16px; border:1px solid #e4e4e4; border-right:none; }
#search .searchClassBox ul.searchCon{ clear:both; width:107px; text-align:center; font-size:16px; z-index:1; position:absolute; margin-top:35px; border:1px solid #e4e4e4; border-top:0px; background:#fff; }
#search .searchClassBox ul.searchCon li{ height:34px; line-height:34px; }
#search .searchClassBox .searchClassBtn{ float:left; width:32px; height:36px; overflow:hidden; }
#search .searchBox{ float:right; width:550px; height:34px; line-height:34px; padding-left:5px; margin-right:12px; overflow:hidden; color:#d2d2d2; background:#fff; border:1px solid #e5e5e5; }

/*footer*/
#footer{ width:100%; margin-top:120px; overflow:hidden; background:#566069; }
#footer #footerMain{ clear:both; margin:0px auto; width:960px; overflow:hidden; }
#footer #footerMain ul{ float:left; width:190px; }
#footer #footerMain ul p{ padding-bottom:20px; overflow:hidden; font-size:18px; font-family:"ÂæÆËΩØÈõÖÈªë"; color:#fff; font-weight:bold; }
#footer #footerMain ul li{list-style:none;float:left; width:100%; line-height:24px; text-indent:10px; color:#ccc; }
#footer #footerMain ul li a{ color:#ccc; }
#footer #footerMain ul li img{ padding-left:25px; overflow:hidden; }
.btnBacktop{ float:right; width:68px; height:50px; overflow:hidden; }
.btnBacktop li{list-style:none;}


/*common*/
.fl {
	float:left
}
.fr {
	float:right
}
.tl {
	text-align:left
}
.tr {
	text-align:right
}
.tc {
	text-align:center
}
.cl {
	clear:left
}
.cr {
	clear:right
}
.cb {
	clear:both
}
.oh{
	overflow:hidden
}
.h5 {
	height:5px
}
.h10 {
	height:10px
}
.h15 {
	height:15px
}
.h20 {
	height:20px
}
.h25 {
	height:25px
}
.h30 {
	height:30px
}
.h35 {
	height:35px
}
.w5 {
	width:5px
}
.w10 {
	width:10px
}
.w15 {
	width:15px
}
.w20 {
	width:20px
}
.w25 {
	width:25px
}
.w30 {
	width:30px
}
.w35 {
	width:35px
}
.p5{
	padding:5px
}
.p7{
	padding:7px
}
.p10{
	padding:10px
}
.p15{
	padding:15px
}
.p20{
	padding:20px
}
.p25{
	padding:25px
}
.p30{
	padding:30px
}
.p35{
	padding:35px
}
.m5{
	margin:5px
}
.m10{
	margin:10px
}
.m15{
	margin:15px
}
.m20{
	margin:20px
}
.m25{
	margin:25px
}
.m30{
	margin:30px
}
.m35{
	margin:35px
}
.f10{
	font-size:10px
}
.f12{
	font-size:12px
}
.f14{
	font-size:14px
}
.f16{
	font-size:16px
}
.f18{
	font-size:18px
}
.red{
	color:#F00
}
.green{
	color:#0F0
}
.gray{
	color:#999
}
.black{
	color:#000
}
.white{
	color:#FFF
}
.yellow{
	color:#F2623D
}
.blue{
	color:#1F7DC5
}
.fb{
	font-weight:700
}
.yahei{
	font-family:"Microsoft YaHei"
}
.ti2em{
	text-indent:2em
}
.dn{
	display:none
}
.db{
	display:block
}
.uv{
	visibility:hidden
}
.bdnone{
	border:none
}
/*box width*/
.w600{
	width:600px;
	margin:0 auto;
	overflow:hidden
}
.w860{
	width:860px;
	margin:0 auto;
	overflow:hidden;
}
.w800{
	width:800px;
	margin:0 auto;
	overflow:hidden;
}

#searchBox{ float:right; width:177px; height:36px; margin-top:7px; padding-right:20px; overflow:hidden; }
#searchBox .searchMain{ float:left; width:177px; height:26px; background:url(images/bg_search.gif) no-repeat; }
#searchBox .searchMain input.searchInp{ float:left; width:140px; height:24px; margin-top:1px; padding:0px 5px; overflow:hidden; line-height:24px; background:none; border:none; }
#searchBox .searchMain input.searchBtn{ float:right; width:27px; height:26px; background:url(images/btn_search.gif) no-repeat; }

