<!doctype html>
<html>
<head>
<meta charset="utf-8" />
  <title>经商知道</title>
  <meta http-equiv="pragma" content="no-cache" />
<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/weindex.css">
<link rel="stylesheet" href="/css/jquery-ui.css">
<script src="/js/jquery-1.8.3.min.js"></script>  
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.wookmark.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<style>
a{text-decoration:none;}
a:link,a:visited,a:active,a:hover{text-decoration:none;color:#0667AC;}
</style>
</head>
<body>
#parse('common/header.vm')
##parse('common/searchBar.vm')
#set($isOwner=(${shop.userId}==${session_attr_user.id}))
<style>
.shop_banner{width:100%; height:80px;border:1px solid #333333;margin-top:10px;text-align:center; padding-top:30px;margin-bottom:20px;}
.shop_main{width:100%;}
.shop_left{width:270px;float:left;padding-left:15px;margin-right:15px;}

.shop_left .button{width:200px;height:28px;padding-top:12px;text-align:center; border:1px solid #AAAAAA;margin-top:10px;}

.shop_right{width:100%;}
.shop_right_inner{margin-left:320px;}

.shop_info{width:100%;border:1px solid #333333;padding-bottom:20px;}
.shop_info div{margin-left:20px;margin-right:20px;}
.shop_logo{widht:100%;height:80px;border:1px solid #333333;margin:20px;}
.shop_search{width:100%;margin-top:20px;border:1px solid #333333;}
.shop_search div{margin-left:20px;margin-right:20px;margin-top:10px;margin-bottom:10px;}
.shop_global_label{width:100%;margin-top:20px;border:1px solid #333333;}
.shop_global_label_title{margin:5px;font-size:20px;padding-bottom:15px;}
.shop_global_label_item{margin:5px;padding-bottom:5px;border-bottom:1px solid #222222;}

.shop_announce{margin-top:20px;width:100%;height:80px;border:1px solid #222222;text-align:center;}
.shop_type_tab{margin-top:15px;width:100%;padding-bottom:10px;border-bottom:1px solid #111111;}
.shop_offer{padding-top:10px; padding-bottom:5px; border-bottom:1px solid #111111;width:100%;height:100px;position:relative}
.shop_offer_left{position:absolute;left:10px;top:10px;width:100px;height:100px;z-index:0;}
.shop_offer_right{position:absolute;left:0px;top:0px;width:100%;height:100px;z-index:1;}
.shop_offer_right div{margin-left:120px;}
.shop_offer_title{text-size:20px;margin-top:10px;padding-bottom:15px;}

.shop_blog{padding-top:10px; padding-bottom:5px; border-bottom:1px solid #111111;width:100%;height:100px;position:relative}
</style>
<div class="shop_banner">店铺标题 ($!{shop.displayName}) #if($shop.isVerified())[已认证]#end& 背景图</div>
<div class="shop_main">
	<div class="shop_left">
		<div class="shop_info">
			<a href="/$!{shop.name}"><div class="shop_logo">logo</div></a>
			<div>卖家: <a href="/user/profile/$!{shop.userId}.html">$!{shop.owner.userName}</a></div>
			<div>商品数量: $!{shop.offerNum}</div>
			<div>电话: </div>
			<div>地址: $!{shop.address}, $!{shop.city}</div>
			<div>网址: </div>
			#if($session_attr_user && $session_attr_user.isAdmin())
				#if($shop.isVerified())
					<a href="/admin/unverify/shop.html?shopId=${shop.id}"><div class="button">取消认证商铺</div></a>
				#else
					<a href="/admin/verify/shop.html?shopId=${shop.id}"><div class="button">认证商铺</div></a>
				#end
			#end
			#if($isOwner)
				<a href="/shop/${shop.id}/offer/add.html"><div class="button">发布商品</div></a>
				<a href="/blog/add.html?shopId=${shop.id}"><div class="button">发表博文</div></a>
				<div class="button">修改商铺信息</div>
				<a href="/shop/useraddress.html?shopName=${shop.name}"><div class="button">使用我的地址</div></a>
				#set($isshop=true)
				#if($offer)
					<a href="/offer/edit.html?shopId=${shop.id}&offerId=${offer.id}"><div class="button">修改商品信息</div></a>
					<a href="/offer/upload.html?offerId=${offer.id}"><div class="button">修改商品图片</div></a>
					<a href="/offer/delete.html?offerId=${offer.id}"><div class="button">删除商品</div></a>
					#if($weibo)
						<div class="button">微博发布成功</div>
					#else
						<a href="/offer/weibo.html?offerId=${offer.id}"><div class="button">发微博</div></a>
					#end
					<div class="button" onclick="document.getElementById('weiboDiv').setAttribute('style', 'display:block');">定时发微博</div>
					<div id="weiboDiv" style="display:none">#parse('common/weibo.vm')</div>
					#set($isshop=false)
				#end
				#if($blog)
					<a href="/blog/edit.html?shopId=${shop.id}&blogId=${blog.id}"><div class="button">修改博文</div></a>
					<a href="/blog/delete.html?blogId=${blog.id}"><div class="button">删除博文</div></a>
					#if($weibo)
						<div class="button">微博发布成功</div>
					#else
						<a href="/blog/weibo.html?blogId=${blog.id}"><div class="button">发微博</div></a>
					#end				
					<div class="button" onclick="document.getElementById('weiboDiv').setAttribute('style', 'display:block');">定时发微博</div>
					<div id="weiboDiv" style="display:none">#parse('common/weibo.vm')</div>
					#set($isshop=false)
				#end
				#if($isshop)
					#if($weibo)
						<div class="button">微博发布成功</div>
					#else
						<a href="/shop/weibo.html?shopName=${shop.name}"><div class="button">发微博</div></a>
					#end				
				#end
			#end
			#if($session_attr_user)
				#if($offer)
					#if($favorited)
						<a href="/user/favorite/offer/del.html?offerId=${offer.id}"><div class="button">取消收藏商品</div></a>
					#else
						<a href="/user/favorite/offer/add.html?offerId=${offer.id}"><div class="button">收藏商品</div></a>
					#end
				#elseif($blog)
					#if($favorited)
						<a href="/user/favorite/blog/del.html?blogId=${blog.id}"><div class="button">取消收藏博文</div></a>
					#else
						<a href="/user/favorite/blog/add.html?blogId=${blog.id}"><div class="button">收藏博文</div></a>
					#end
				#else
					#if($favorited)
						<a href="/user/favorite/shop/del.html?shopId=${shop.id}"><div class="button">取消收藏店铺</div></a>
					#else
						<a href="/user/favorite/shop/add.html?shopId=${shop.id}"><div class="button">收藏店铺</div></a>
					#end
				#end
			#end
			<div style="margin-top:10px;">
			<script type="text/javascript">
(function(){
  var _w = 72 , _h = 16;
  var param = {
    url:location.href,
    type:'3',
    count:'1', /**是否显示分享数，1显示(可选)*/
    appkey:'198216231', /**您申请的应用appkey,显示分享来源(可选)*/
    title:'${session_attr_user.userName}刚刚分享了$!{shop.name} (<a href="http://cn.weindex.ca/$!{shop.name}">链接地址</a>)', /**分享的文字内容(可选，默认为所在页面的title)*/
    pic:'', /**分享图片的路径(可选)*/
    //ralateUid:'', /**关联用户的UID，分享微博会@该用户(可选)*/
	language:'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
    rnd:new Date().valueOf()
  }
  var temp = [];
  for( var p in param ){
    temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
  }
  document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
})()
</script>
			</div>
			<div id="fb-root"></div>
			<div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
		</div>
		<div class="shop_search">
			<div>
				店内搜索: <input type="text" name="keyword" size="25" />
			</div>
		</div>
		<div class="shop_global_label">
			<div class="shop_global_label_title">商品分类</div>
			#foreach($l in $labelList)
			<div class="shop_global_label_item">$l.cnName</div>
			#end
		</div>
	</div>
	<div class="shop_right">
		<div class="shop_right_inner">
		$screen_content
		</div>
	</div>
</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_CN/all.js#xfbml=1&appId=144269832392534";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div style="clear:both"></div>
#parse('common/footer.vm')
</body>
</html>
