#set($layout = "/layout/homeOfferLayout.vm")
###if($type=='hot')
	<div id="Con" role="Con" class="indexProduct">
	    <ul>
			#foreach($offer in $result.list) 
	        <li>
	            <p><a href="/offer/view/${offer.id}.html" target="_blank">#if($offer.thumbListImgUrl)<img src="${offer.thumbListImgUrl}" />#else<img src="/img/pic_con_06.jpg" />#end</a></p>
	            <p ><font color=BLACK>【</font><font color=RED>$</span>${offer.price}</font><font color=BLACK>】</font>
	            <a href="/offer/view/${offer.id}.html" target="_blank"><font color=BLACK>${offer.name}</font></a></p>
	        </li>
	        #end
	    </ul>
	</div>
###else
##
##     ##   <div id="Con" class="latestOffer">
##     ##       <table id="offerList">
##     ##           <tr><td>商品图片</td><td>名字</td><td>价格</td><td>店铺</td><td>电话</td><td>城市</td></tr>
##     ##           #foreach($offer in $result.list)
##     ##                   <tr>    <td><a href="/offer/view/${offer.id}.html">#if($offer.imgUrl)<img src="$offer.imgUrl"/>#else<img src="/img/pic_shop_01.jpg"/>#end</a></td>
##     ##                           <td><a href="/offer/view/${offer.id}.html" class="fl">${offer.name}</a></td>
##     ##                           <td><font color=RED>${offer.price}%</font></td>
##     ##                           <td><a href="http://weindex.ca/$offer.shopName">${offer.shopDispName}</a></td>
##     ##                           <td>#if(${offer.telephone})$offer.telephone#end</td>
##     ##                           <td>#if(${offer.city})$offer.city#end</td>
##     ##                   </tr>
##     ##           #end
##     ##       </table>
##     ##   </div>
##
##        <div id="Con" class="latestOffer">
##            <table id="offerList">
##                <tr><td>商品图片</td><td>名字</td><td>新旧程度</td><td>价格</td></tr>
##                #foreach($offer in $result.list)
##                        <tr>	<td><a href="/offer/view/${offer.id}.html">#if($offer.thumbListImgUrl)<img src="$offer.thumbListImgUrl"/>#else<img src="/img/pic_shop_01.jpg"/>#end</a></td>
##				<td><a href="/offer/view/${offer.id}.html" class="fl">${offer.name}</a></td>
##				<td>${offer.quality}%</td>
##				<td><font color=RED>$${offer.price}</font></td>
##			</tr>
##                #end
##            </table>
##        </div>
###end
<!-- page begin -->
#if($result.totalPage>1)
	#if($type=='hot')
		<div id="page">
		    <ul>
				#if($result.pageNum > 1)
		        	<li><a href="/index/offer.html?pageNum=${result.previousPage}&type=hot">上一页</a></li>
		        #end
		        #if($result.totalPage<=5)
		        	#foreach($i in [1..$result.totalPage])
		        		#if($i==$result.pageNum)
		        			<li class="pageActive"><a href="/index/offer.html?pageNum=$i&type=hot">$i</a></li>
		        		#else
		        			<li><a href="/index/offer.html?pageNum=$i&type=hot">$i</a></li>
		        		#end
		        	#end
		        #else
		        	#if($result.pageNum<=3)
		        		#set($max=$result.pageNum+1)
		        		#foreach($i in [1..$max])
			        		#if($i==$result.pageNum)
		    	    			<li class="pageActive"><a href="/index/offer.html?pageNum=$i&type=hot">$i</a></li>
		        			#else
		        				<li><a href="/index/offer.html?pageNum=$i&type=hot">$i</a></li>
		        			#end
		        		#end
		        		<li>...</li>
		        		<li><a href="/index/offer.html?pageNum=$result.totalPage&type=hot">$result.totalPage</a></li>
		        	#elseif($result.pageNum>=$result.totalPage - 2)
		        		<li><a href="/index/offer.html?pageNum=1&type=hot">1</a></li>
		        		<li>...</li>
		        		#set($min=$result.pageNum - 1)
		        		#foreach($i in [$min..$result.totalPage])
			        		#if($i==$result.pageNum)
		    	    			<li class="pageActive"><a href="/index/offer.html?pageNum=$i&type=hot">$i</a></li>
		        			#else
		        				<li><a href="/index/offer.html?pageNum=$i&type=hot">$i</a></li>
		        			#end
		        		#end
		        	#else
		        		<li><a href="/index/offer.html?pageNum=1&type=hot">1</a></li>
		        		<li>...</li>
		        		#set($min=$result.pageNum - 1)
		        		#set($max=$result.pageNum+1)
		        		<li><a href="/index/offer.html?pageNum=$min&type=hot">$min</a></li>        	
		        		<li class="pageActive"><a href="/index/offer.html?pageNum=$result.pageNum&type=hot">$result.pageNum</a></li>        	
		        		<li><a href="/index/offer.html?pageNum=$max&type=hot">$max</a></li>        	
		        		<li>...</li>
		        		<li><a href="/index/offer.html?pageNum=$result.totalPage&type=hot">$result.totalPage</a></li>        	
		        	#end
		        #end
				#if($result.pageNum < $result.totalPage)
					<li><a href="/index/offer.html?pageNum=${result.nextPage}&type=hot">下一页</a></li>	
		        #end
		    </ul>
		</div>
	#else
		<div id="page">
		    <ul>
		                #if($result.pageNum > 1)
		                <li><a href="/index/offer.html?pageNum=${result.previousPage}">上一页</a></li>
		        #end
		        #if($result.totalPage<=5)
		                #foreach($i in [1..$result.totalPage])
		                        #if($i==$result.pageNum)
		                                <li class="pageActive"><a href="/index/offer.html?pageNum=$i">$i</a></li>
		                        #else
		                                <li><a href="/index/offer.html?pageNum=$i">$i</a></li>
		                        #end
		                #end
		        #else
		                #if($result.pageNum<=3)
		                        #set($max=$result.pageNum+1)
		                        #foreach($i in [1..$max])
		                                #if($i==$result.pageNum)
		                                <li class="pageActive"><a href="/index/offer.html?pageNum=$i">$i</a></li>
		                                #else
		                                        <li><a href="/index/offer.html?pageNum=$i">$i</a></li>
		                                #end
		                        #end
		                        <li>...</li>
		                        <li><a href="/index/offer.html?pageNum=$result.totalPage">$result.totalPage</a></li>
		                #elseif($result.pageNum>=$result.totalPage - 2)
		                        <li><a href="/index/offer.html?pageNum=1">1</a></li>
		                        <li>...</li>
		                        #set($min=$result.pageNum - 1)
		                        #foreach($i in [$min..$result.totalPage])
		                                #if($i==$result.pageNum)
		                                <li class="pageActive"><a href="/index/offer.html?pageNum=$i">$i</a></li>
		                                #else
		                                        <li><a href="/index/offer.html?pageNum=$i">$i</a></li>
		                                #end
		                        #end
		                #else
		                        <li><a href="/index/offer.html?pageNum=1">1</a></li>
		                        <li>...</li>
		                        #set($min=$result.pageNum - 1)
		                        #set($max=$result.pageNum+1)
		                        <li><a href="/index/offer.html?pageNum=$min">$min</a></li>
		                        <li class="pageActive"><a href="/index/offer.html?pageNum=$result.pageNum">$result.pageNum</a></li>
		                        <li><a href="/index/offer.html?pageNum=$max">$max</a></li>
		                        <li>...</li>
		                        <li><a href="/index/offer.html?pageNum=$result.totalPage">$result.totalPage</a></li>
		                #end
		        #end
		                #if($result.pageNum < $result.totalPage)
		                        <li><a href="/index/offer.html?pageNum=${result.nextPage}">下一页</a></li>
		        #end
		    </ul>
		</div>

	#end
#end
<!-- page end -->

#**
	<div class="offer">
		<div class="title">商品
		#if($type=='hot')
			<div class="tab unselected"><a href="/index/offer.html?type=new">最新</a></div><div class="tab unselected">推荐</div>
		#else
			<div class="tab selected">最新</div><div class="tab unselected"><a href="/index/offer.html?type=hot">推荐</a></div>
		#end
		</div>
		<div id="newOffer">
		#foreach($offer in $result.list) 
			<div class="item">
				<div style="padding-left:10px;height:160px;"><img src="$offer.imgUrl" width="160px" /></div>
				<div class="name"><a href="/offer/view/${offer.id}.html">${offer.name}</a></div>
				<div class="price">${offer.price}</div>
			</div>
		#end
			<div class="more">
			#if($result.pageNum > 1)
				<a href="/index/offer.html?pageNum=1&type=${type}">第一页</a> <a href="/index/offer.html?pageNum=${result.previousPage}&type=${type}">上一页</a>
			#end
			共 $result.totalPage 页, 当前显示第 $result.pageNum 页
			#if($result.pageNum < $result.totalPage)
				<a href="/index/offer.html?pageNum=${result.nextPage}&type=${type}">下一页</a> <a href="/index/offer.html?pageNum=${result.totalPage}&type=${type}">最后一页</a>
			#end			
			</div>
		</div>
	</div>
**#
<script language="JavaScript">
showNav(2);
</script>
